<div class="col-md-6 col-md-offset-3" style="z-index: 1000;position: fixed;top:60px;">
  <div class="alert alert-info fade in alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
</div>
