<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-1">
      <%= chat.user.username %>
    </div>
    <div class="col-md-11">
      <%= chat.message %>
    </div>
  </div>
</div>
